.table__one__box,
.table__two__box {
  width: 25%;
  height: auto;
}

.table__three__box {
  width: 50%;
  height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th > h1 {
  font-family: "Nanum Myeongjo", serif;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #5a736d;
  border-left: 5px solid gray;
  padding-left: 13px;
}

td > h2 {
  font-family: "Nanum Myeongjo", serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-left: 18px;
  margin-top: 25px;
}

td > ul > li {
  font-family: "Nanum Myeongjo", serif;
  font-size: 17px;
  letter-spacing: 1px;
  align-items: center;
  margin-top: 15px;
  padding-left: 16px;
}

.table__two__box__invisible {
  font-family: "Nanum Myeongjo", serif;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: white;
  border-left: none;
}
